.bookshelves-bg-container {
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
}
.bookshelves-search-desktop {
  background-color: #f5f7fa;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-top: 80px;
}
.bookshelves-menu-container {
  width: 256px;
  background-color: #fff;
  margin-left: 150px;
  padding-left: 32px;
  padding-top: 32px;
}
@media screen and (max-width: 765px) {
  .bookshelves-menu-container {
    display: none;
  }
}
.bookshelves-menu-container-heading {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}
.bookshelves-ul-menu {
  padding: 0px;
  list-style-type: none;
}

.bookshelves-main-container {
  margin-left: 32px;
  width: 100%;
}
@media screen and (max-width: 765px) {
  .bookshelves-main-container {
    display: none;
  }
}
.bookshelves-main-search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.bookshelves-main-heading {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}
.search-container {
  align-self: center;
  margin-right: 150px;
  border-radius: 4px;
}
.bookshelves-search-input-value {
  height: 37px;
  width: 264px;
  left: 0;
  padding-left: 16px;
  top: 0;
  outline: none;
  border: 1px solid #cbd5e1;
}

.bookshelves-search-input-button {
  height: 36px;
  width: 52px;
  left: 1237px;
  border: none;
}
.bookshelves-icon {
  color: #94a3b8;
}
.bookshelves-render-all-books {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  margin-top: 31px;
  flex-wrap: wrap;
}

.bookshelves-parent-container-small {
  flex-direction: column;
  background-color: #f5f7fa;
}
@media screen and (min-width: 765px) {
  .bookshelves-parent-container-small {
    display: none;
  }
}
.bookshelves-bg-container-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.bookshelves-search-container-small {
  margin-top: 24px;
}
.bookshelves-search-input-container-small {
  height: 37px;
  width: 264px;
  left: 0;
  padding-left: 16px;
  top: 0;
  outline: none;
  border: 1px solid #cbd5e1;
}
.bookshelves-search-input-button-small {
  height: 36px;
  width: 52px;
  left: 1237px;
  border: none;
}
.bookshelves-icon-small {
  color: #94a3b8;
}
.bookshelves-menu-container-heading-small {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}
/*    */

.bookshelves-input-container {
  height: 36px;
  width: 264px;
  background-color: #ffffff;
  outline: none;
  border-radius: 4px;
  border: none;
}
.bookshelves-input-button {
  height: 36px;
  width: 52px;
  background-color: #edeff1;
  border: none;
}

.bookshelves-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
  margin-left: 35px;
}
@media screen and (min-width: 768px) {
  .bookshelves-heading {
    display: none;
  }
}
.bookshelves-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.failure-image-bookshelves {
  width: 60%;
}
@media screen and (min-width: 992px) {
  .failure-image-bookshelves {
    width: 500px;
  }
}

.bookshelves-failure-desc {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-family: Inter;
  font-style: normal;
  color: #475569;
}
@media screen and (min-width: 992px) {
  .bookshelves-failure-desc {
    font-size: 24px;
    line-height: 48px;
  }
}

.bookshelves-failure-button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-family: Inter;
  font-style: normal;
  color: #ffffff;
  border: none;
  background-color: #0284c7;
  border-radius: 8px;
  padding: 8px 16px;
}

@media screen and (min-width: 992px) {
  .bookshelves-failure-button {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 24px;
  }
}
.bookshelves-loading-view {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 70vh;
  flex-grow: 1;
}
